{% extends 'bases.html' %}

{% block content %}

<main class="container rounded-lg py-5 px-5">
    <section class="card card-body">
        <h1 class="display-1 text-center fw-bold">Pagina de Inicio</h1>
        <h1 class="display-1 text-center"></h1>
        <h1 class="display-6 text-center fw-bold">Sistema de Generación de Documentos
             y Gestión de Contratistas</h1>
        <label class="display-9 text-justify my-5 mx-5">Diseñado para facilitar la recopilación de datos, la generación de documentos personalizados y la gestión eficiente de la información de contratistas. El objetivo de este proyecto consiste en desarrollar un sistema web que permite a los usuarios completar un formulario en línea para generar automáticamente un documento en formato Word o PDF, además de almacenar la información del contratista en una base de datos para su gestión y futuras referencias. Este sistema facilita el proceso de recopilación de datos y la generación de documentos, al tiempo que brinda la capacidad de gestionar la información de los contratistas de manera eficiente.</label>
    
        <div class="text-center">
            <a class="btn btn-success my-3 mx-2" href="/iniciar/">Ingresar</a>
            <a class="btn btn-primary my-3 mx-2" href="/registro/">Registrarse</a>
        </div>
    
    </section>

</main>

{% endblock %}

